* {
    font-family: 'Montserrat', sans-serif;
}
nav {
    background: #A0A0A0;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    align-content: center;
}
li {
    list-style: none;
    padding: 1em 0 1em 0;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #404040;
    font-size: 1em;
    padding: 1em 3em 1em 3em;
}
li a:active, li a:hover {
    background: #303030;
    color: #C0C0C0;
}
.active {
    background: #303030;
    color: #C0C0C0;
}

.dropdown {

}