* {
    margin: 0 auto;
}
.wrapper {
    width: 90vw;
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 30vh;
    width: 10vw;

    border: 1px solid black;
}
img {
    object-fit: contain;
    height: 20vh;
    width: 10vw;
}
h2, h3 {
    margin: 0 auto;
}